body {
    font-family: "Plus Jakarta Sans", sans-serif !important;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #ff385c;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.nav-brand {
    color: #ff385c !important;
    font-size: 30px !important;
    font-weight: 600;
}

#navbarNavAltMarkup{
    background-color: #ffffff;
}

/* footer style */

.footer-content {
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.footer-socials,
.footer-links,
.footer-brand {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: space-evenly;
}

.footer-links a{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: space-evenly;
    margin-right: 1rem;
}

.footer-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.footer-links a {
    text-decoration: none;
    color: #222222;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* card styling*/
.card-link {
    text-decoration: none;
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
}

/* hover-effect */

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 1;
    color: white;
}

/* form  */

.form-btn {
    border: none !important;
    background-color: #ff385c !important;
}

/* show list  */

.show-img {
    object-fit: cover !important;
    border-radius: 1rem !important;
    height: 55vh !important;
}

.btns {
    display: flex;
    justify-content: start;

}

.card-title {
    margin-top: 5px;
}

.card-show {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* map  */

#map {
    height: 400px;
    width: 50vw;
}

/* flash message  */

.alert{
    margin-top: .5rem;
}


/* search  */


/* edit form  */

#org-img{
    width: 40vh;
    
}